.ite{

  float:right;
  width: 45%;
  border-style: solid;
  border-width: 20px;
  border-radius: 10px;
  border-color: lightskyblue;
  background-color: lightskyblue;
  position: inherit;
}
.chat{

  border-style: solid;
  border-width: 20px;
  border-radius: 10px;

  border-color: lightskyblue;
  float: left;
  width: 45%;
}

body{
  background-color: lightskyblue;
}
